<div class="header">
  <div id="ctc">
    <span class="ctc">Contactez-nous:<span class="fa fa-phone">&nbsp;+221 78 500 93 68 </span></span>
    <span class="ctc"><a class="fa fa-envelope" href="mailto:moussa9594@gmail.com">&nbsp;moussa9594@gmail.com</a></span>
  </div>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-secondary " style="margin-bottom:
    20px;">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="#"><span class="fa fa-car"></span>&nbsp;Home </a>
      <a class="nav-item nav-link" href="#">A propos</a>
    </div>
  </nav>
</div>
