
#ctc{
margin-left: 780px;

}
#home{
  font-weight: bold;
}

.ctc{
  font-size: 13px;
  font-family: sans-serif;

}
.header{
  position: fixed;
  width: 1225px;
  Z-index: 999;
  margin-top: -20px;
  margin-left: 33px;
}
 .fa-phone, .fa-envelope{
  margin-left: 20px;
 }
 .nav-item, .nav-link, .navbar-nav{
   font-size: 15px;
   font-weight: bold;
   color: white;
 }

