<div class="form-wrapper">
  <div class="p-grid">
    <div *ngIf="detailsVoiture" class="p-col-12 p-md-6 p-lg-6">
      <div style="display: inline-block;">
        <img src="{{ url }}" alt="photo" width="150px" style="margin-left: 17px;"><br>
        <!-- <img src="../../../assets/{{ detailsVoiture.image1 }}" alt="photo" width="150px" style="margin-left: 17px;"> -->
        <br>
        <img src="../../../assets/{{ detailsVoiture.image2 }}" alt="photo" width="150px" style="margin-left: 17px;">
      </div>
      <div style="float: right; margin-right: 50px; margin-bottom: 30px;">
        <span class="tr"> Marque: </span> {{ detailsVoiture.marque }} <br>
        <span class="tr"> Modèle: </span> {{ detailsVoiture.model }}
        <img src="../../../assets/logos/{{ detailsVoiture.image3 }}" alt="photo" width="60px" style="margin-left: 17px;"><br>
        <span class="tr"> Nombre de porte: </span> {{ detailsVoiture.nbre_porte }}<br>
        <span class="tr"> Prix/jour: </span> {{ detailsVoiture.prix_jour }} FCFA<br>
        <span class="tr"> Description: </span> {{ detailsVoiture.description }}
      </div>
    </div>
  </div>
</div>
