<section id="reserver" class="row">
  <div id="voiture" class="col-lg-5" *ngFor="let item of voitureReserver">
    <!-- <p style="margin-top: 70px;"><img src="../../../assets/{{ item.image1 }}.jpg" alt="photo" width="370px" style="margin-left: 17px;"></p> -->
    <p style="margin-top: 70px;"><img src="{{ url }}" alt="gif" width="370px" style="margin-left: 17px;"></p>
        Marque:  <span class="det">{{ item.marque  }}</span><br/>
        Modele:  <span class="det">{{ item.model }}</span><br/>
        Prix/j sans chaufeur:  <span class="det" style="color: red;">{{ item.prix_jour }} FCFA</span><br/>
        Prix/j avec chaufeur: <span style="color: lightseagreen;">+ 5000 FCFA </span>
  </div>
  <div  id="identification" class="col-lg-5">
    <app-client></app-client>
  </div>
  </section>
